# Machine Learning Engineer Nanodegree
## Introduction and Foundations
## Project 0: Titanic Survival Exploration

In 1912, the ship RMS Titanic struck an iceberg on its maiden voyage and sank, resulting in the deaths of most of its passengers and crew. In this introductory project, we will explore a subset of the RMS Titanic passenger manifest to determine which features best predict whether someone survived or did not survive. To complete this project, you will need to implement several conditional predictions and answer the questions below. Your project submission will be evaluated based on the completion of the code and your responses to the questions.
> **Tip:** Quoted sections like this will provide helpful instructions on how to navigate and use an iPython notebook.

# Getting Started
To begin working with the RMS Titanic passenger data, we'll first need to `import` the functionality we need, and load our data into a `pandas` DataFrame.  
Run the code cell below to load our data and display the first few entries (passengers) for examination using the `.head()` function.
> **Tip:** You can run a code cell by clicking on the cell and using the keyboard shortcut **Shift + Enter** or **Shift + Return**. Alternatively, a code cell can be executed using the **Play** button in the hotbar after selecting it. Markdown cells (text cells like this one) can be edited by double-clicking, and saved using these same shortcuts. [Markdown](http://daringfireball.net/projects/markdown/syntax) allows you to write easy-to-read plain text that can be converted to HTML.

In [2]:
import numpy as np
import pandas as pd

# RMS Titanic data visualization code 
from titanic_visualizations import survival_stats
from IPython.display import display
%matplotlib inline

# Load the dataset
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

From a sample of the RMS Titanic data, we can see the various features present for each passenger on the ship:
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- **Name**: Name of passenger
- **Sex**: Sex of the passenger
- **Age**: Age of the passenger (Some entries contain `NaN`)
- **SibSp**: Number of siblings and spouses of the passenger aboard
- **Parch**: Number of parents and children of the passenger aboard
- **Ticket**: Ticket number of the passenger
- **Fare**: Fare paid by the passenger
- **Cabin** Cabin number of the passenger (Some entries contain `NaN`)
- **Embarked**: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

Since we're interested in the outcome of survival for each passenger or crew member, we can remove the **Survived** feature from this dataset and store it as its own separate variable `outcomes`. We will use these outcomes as our prediction targets.  
Run the code block cell to remove **Survived** as a feature of the dataset and store it in `outcomes`.

In [3]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
outcomes = full_data['Survived']
data = full_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(data.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

The very same sample of the RMS Titanic data now shows the **Survived** feature removed from the DataFrame. Note that `data` (the passenger data) and `outcomes` (the outcomes of survival) are now *paired*. That means for any passenger `data.loc[i]`, they have the survival outcome `outcome[i]`.

To measure the performance of our predictions, we need a metric to score our predictions against the true outcomes of survival. Since we are interested in how *accurate* our predictions are, we will calculate the proportion of passengers where our prediction of their survival is correct. Run the code cell below to create our `accuracy_score` function and test a prediction on the first five passengers.  

**Think:** *Out of the first five passengers, if we predict that all of them survived, what would you expect the accuracy of our predictions to be?*

In [4]:
def accuracy_score(truth, pred):
    """ Returns accuracy score for input truth and predictions. """
    
    # Ensure that the number of predictions matches number of outcomes
    if len(truth) == len(pred): 
        
        # Calculate and return the accuracy as a percent
        return "Predictions have an accuracy of {:.2f}%.".format((truth == pred).mean()*100)
    
    else:
        return "Number of predictions does not match number of outcomes!"
    
# Test the 'accuracy_score' function
predictions = pd.Series(np.ones(5, dtype = int))
print accuracy_score(outcomes[:5], predictions)

Predictions have an accuracy of 60.00%.

> **Tip:** If you save an iPython Notebook, the output from running code blocks will also be saved. However, the state of your workspace will be reset once a new session is started. Make sure that you run all of the code blocks from your previous session to reestablish variables and functions before picking up where you last left off.

# Making Predictions

If we were told to make a prediction about any passenger aboard the RMS Titanic who we did not know anything about, then the best prediction we could make would be that they did not survive. This is because we can assume that a majority of the passengers as a whole did not survive the ship sinking.  
The function below will always predict that a passenger did not survive.

In [10]:
def predictions_0(data):
    """ Model with no features. Always predicts a passenger did not survive. """

    predictions = []
    for _, passenger in data.iterrows():
        # Predict the survival of 'passenger'
        predictions.append(0)
    
    # Return our predictions
    return pd.Series(predictions)

# Make the predictions
predictions = predictions_0(data)

In [26]:
for _,passenger in data.iterrows():
    print passenger

PassengerId                          1
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object
PassengerId                                                    2
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
PassengerId                         3
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                                26
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Name: 2, dtype: object
PassengerId                                               4
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object
PassengerId                           5
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                  35
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 4, dtype: object
PassengerId                   6
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
PassengerId                          7
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                                 54
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object
PassengerId                                 8
Pclass                                      3
Name           Palsson, Master. Gosta Leonard
Sex                                      male
Age                                         2
SibSp                                       3
Parch                                       1
Ticket                                 349909
Fare                                   21.075
Cabin                                     NaN
Embarked                                    S
Name: 7, dtype: object
PassengerId                                                    9
Pclass                                                         3
Name           Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                       female
Age                                                           27
SibSp                                                          0
Parch                                                          2
Ticket                                                    347742
Fare                                                     11.1333
Cabin                                                        NaN
Embarked                                                       S
Name: 8, dtype: object
PassengerId                                     10
Pclass                                           2
Name           Nasser, Mrs. Nicholas (Adele Achem)
Sex                                         female
Age                                             14
SibSp                                            1
Parch                                            0
Ticket                                      237736
Fare                                       30.0708
Cabin                                          NaN
Embarked                                         C
Name: 9, dtype: object
PassengerId                                 11
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                          4
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object
PassengerId                          12
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                  58
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Cabin                              C103
Embarked                              S
Name: 11, dtype: object
PassengerId                                13
Pclass                                      3
Name           Saundercock, Mr. William Henry
Sex                                      male
Age                                        20
SibSp                                       0
Parch                                       0
Ticket                              A/5. 2151
Fare                                     8.05
Cabin                                     NaN
Embarked                                    S
Name: 12, dtype: object
PassengerId                             14
Pclass                                   3
Name           Andersson, Mr. Anders Johan
Sex                                   male
Age                                     39
SibSp                                    1
Parch                                    5
Ticket                              347082
Fare                                31.275
Cabin                                  NaN
Embarked                                 S
Name: 13, dtype: object
PassengerId                                      15
Pclass                                            3
Name           Vestrom, Miss. Hulda Amanda Adolfina
Sex                                          female
Age                                              14
SibSp                                             0
Parch                                             0
Ticket                                       350406
Fare                                         7.8542
Cabin                                           NaN
Embarked                                          S
Name: 14, dtype: object
PassengerId                                  16
Pclass                                        2
Name           Hewlett, Mrs. (Mary D Kingcome)
Sex                                      female
Age                                          55
SibSp                                         0
Parch                                         0
Ticket                                   248706
Fare                                         16
Cabin                                       NaN
Embarked                                      S
Name: 15, dtype: object
PassengerId                      17
Pclass                            3
Name           Rice, Master. Eugene
Sex                            male
Age                               2
SibSp                             4
Parch                             1
Ticket                       382652
Fare                         29.125
Cabin                           NaN
Embarked                          Q
Name: 16, dtype: object
PassengerId                              18
Pclass                                    2
Name           Williams, Mr. Charles Eugene
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               244373
Fare                                     13
Cabin                                   NaN
Embarked                                  S
Name: 17, dtype: object
PassengerId                                                   19
Pclass                                                         3
Name           Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                       female
Age                                                           31
SibSp                                                          1
Parch                                                          0
Ticket                                                    345763
Fare                                                          18
Cabin                                                        NaN
Embarked                                                       S
Name: 18, dtype: object
PassengerId                         20
Pclass                               3
Name           Masselmani, Mrs. Fatima
Sex                             female
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2649
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 19, dtype: object
PassengerId                      21
Pclass                            2
Name           Fynney, Mr. Joseph J
Sex                            male
Age                              35
SibSp                             0
Parch                             0
Ticket                       239865
Fare                             26
Cabin                           NaN
Embarked                          S
Name: 20, dtype: object
PassengerId                       22
Pclass                             2
Name           Beesley, Mr. Lawrence
Sex                             male
Age                               34
SibSp                              0
Parch                              0
Ticket                        248698
Fare                              13
Cabin                            D56
Embarked                           S
Name: 21, dtype: object
PassengerId                             23
Pclass                                   3
Name           McGowan, Miss. Anna "Annie"
Sex                                 female
Age                                     15
SibSp                                    0
Parch                                    0
Ticket                              330923
Fare                                8.0292
Cabin                                  NaN
Embarked                                 Q
Name: 22, dtype: object
PassengerId                              24
Pclass                                    1
Name           Sloper, Mr. William Thompson
Sex                                    male
Age                                      28
SibSp                                     0
Parch                                     0
Ticket                               113788
Fare                                   35.5
Cabin                                    A6
Embarked                                  S
Name: 23, dtype: object
PassengerId                               25
Pclass                                     3
Name           Palsson, Miss. Torborg Danira
Sex                                   female
Age                                        8
SibSp                                      3
Parch                                      1
Ticket                                349909
Fare                                  21.075
Cabin                                    NaN
Embarked                                   S
Name: 24, dtype: object
PassengerId                                                   26
Pclass                                                         3
Name           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          5
Ticket                                                    347077
Fare                                                     31.3875
Cabin                                                        NaN
Embarked                                                       S
Name: 25, dtype: object
PassengerId                         27
Pclass                               3
Name           Emir, Mr. Farred Chehab
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2631
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 26, dtype: object
PassengerId                                28
Pclass                                      1
Name           Fortune, Mr. Charles Alexander
Sex                                      male
Age                                        19
SibSp                                       3
Parch                                       2
Ticket                                  19950
Fare                                      263
Cabin                             C23 C25 C27
Embarked                                    S
Name: 27, dtype: object
PassengerId                               29
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Name: 28, dtype: object
PassengerId                     30
Pclass                           3
Name           Todoroff, Mr. Lalio
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349216
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 29, dtype: object
PassengerId                          31
Pclass                                1
Name           Uruchurtu, Don. Manuel E
Sex                                male
Age                                  40
SibSp                                 0
Parch                                 0
Ticket                         PC 17601
Fare                            27.7208
Cabin                               NaN
Embarked                              C
Name: 30, dtype: object
PassengerId                                                32
Pclass                                                      1
Name           Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                    female
Age                                                       NaN
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17569
Fare                                                  146.521
Cabin                                                     B78
Embarked                                                    C
Name: 31, dtype: object
PassengerId                          33
Pclass                                3
Name           Glynn, Miss. Mary Agatha
Sex                              female
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           335677
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 32, dtype: object
PassengerId                       34
Pclass                             2
Name           Wheadon, Mr. Edward H
Sex                             male
Age                               66
SibSp                              0
Parch                              0
Ticket                    C.A. 24579
Fare                            10.5
Cabin                            NaN
Embarked                           S
Name: 33, dtype: object
PassengerId                         35
Pclass                               1
Name           Meyer, Mr. Edgar Joseph
Sex                               male
Age                                 28
SibSp                                1
Parch                                0
Ticket                        PC 17604
Fare                           82.1708
Cabin                              NaN
Embarked                             C
Name: 34, dtype: object
PassengerId                                36
Pclass                                      1
Name           Holverson, Mr. Alexander Oskar
Sex                                      male
Age                                        42
SibSp                                       1
Parch                                       0
Ticket                                 113789
Fare                                       52
Cabin                                     NaN
Embarked                                    S
Name: 35, dtype: object
PassengerId                  37
Pclass                        3
Name           Mamee, Mr. Hanna
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                     2677
Fare                     7.2292
Cabin                       NaN
Embarked                      C
Name: 36, dtype: object
PassengerId                          38
Pclass                                3
Name           Cann, Mr. Ernest Charles
Sex                                male
Age                                  21
SibSp                                 0
Parch                                 0
Ticket                       A./5. 2152
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 37, dtype: object
PassengerId                                    39
Pclass                                          3
Name           Vander Planke, Miss. Augusta Maria
Sex                                        female
Age                                            18
SibSp                                           2

In [25]:
for passenger in data.iterrows():
    print passenger

(0, PassengerId                          1
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object)
(1, PassengerId                                                    2
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object)
(2, PassengerId                         3
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                                26
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Name: 2, dtype: object)
(3, PassengerId                                               4
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object)
(4, PassengerId                           5
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                  35
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 4, dtype: object)
(5, PassengerId                   6
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object)
(6, PassengerId                          7
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                                 54
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object)
(7, PassengerId                                 8
Pclass                                      3
Name           Palsson, Master. Gosta Leonard
Sex                                      male
Age                                         2
SibSp                                       3
Parch                                       1
Ticket                                 349909
Fare                                   21.075
Cabin                                     NaN
Embarked                                    S
Name: 7, dtype: object)
(8, PassengerId                                                    9
Pclass                                                         3
Name           Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                       female
Age                                                           27
SibSp                                                          0
Parch                                                          2
Ticket                                                    347742
Fare                                                     11.1333
Cabin                                                        NaN
Embarked                                                       S
Name: 8, dtype: object)
(9, PassengerId                                     10
Pclass                                           2
Name           Nasser, Mrs. Nicholas (Adele Achem)
Sex                                         female
Age                                             14
SibSp                                            1
Parch                                            0
Ticket                                      237736
Fare                                       30.0708
Cabin                                          NaN
Embarked                                         C
Name: 9, dtype: object)
(10, PassengerId                                 11
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                          4
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object)
(11, PassengerId                          12
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                  58
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Cabin                              C103
Embarked                              S
Name: 11, dtype: object)
(12, PassengerId                                13
Pclass                                      3
Name           Saundercock, Mr. William Henry
Sex                                      male
Age                                        20
SibSp                                       0
Parch                                       0
Ticket                              A/5. 2151
Fare                                     8.05
Cabin                                     NaN
Embarked                                    S
Name: 12, dtype: object)
(13, PassengerId                             14
Pclass                                   3
Name           Andersson, Mr. Anders Johan
Sex                                   male
Age                                     39
SibSp                                    1
Parch                                    5
Ticket                              347082
Fare                                31.275
Cabin                                  NaN
Embarked                                 S
Name: 13, dtype: object)
(14, PassengerId                                      15
Pclass                                            3
Name           Vestrom, Miss. Hulda Amanda Adolfina
Sex                                          female
Age                                              14
SibSp                                             0
Parch                                             0
Ticket                                       350406
Fare                                         7.8542
Cabin                                           NaN
Embarked                                          S
Name: 14, dtype: object)
(15, PassengerId                                  16
Pclass                                        2
Name           Hewlett, Mrs. (Mary D Kingcome)
Sex                                      female
Age                                          55
SibSp                                         0
Parch                                         0
Ticket                                   248706
Fare                                         16
Cabin                                       NaN
Embarked                                      S
Name: 15, dtype: object)
(16, PassengerId                      17
Pclass                            3
Name           Rice, Master. Eugene
Sex                            male
Age                               2
SibSp                             4
Parch                             1
Ticket                       382652
Fare                         29.125
Cabin                           NaN
Embarked                          Q
Name: 16, dtype: object)
(17, PassengerId                              18
Pclass                                    2
Name           Williams, Mr. Charles Eugene
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               244373
Fare                                     13
Cabin                                   NaN
Embarked                                  S
Name: 17, dtype: object)
(18, PassengerId                                                   19
Pclass                                                         3
Name           Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                       female
Age                                                           31
SibSp                                                          1
Parch                                                          0
Ticket                                                    345763
Fare                                                          18
Cabin                                                        NaN
Embarked                                                       S
Name: 18, dtype: object)
(19, PassengerId                         20
Pclass                               3
Name           Masselmani, Mrs. Fatima
Sex                             female
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2649
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 19, dtype: object)
(20, PassengerId                      21
Pclass                            2
Name           Fynney, Mr. Joseph J
Sex                            male
Age                              35
SibSp                             0
Parch                             0
Ticket                       239865
Fare                             26
Cabin                           NaN
Embarked                          S
Name: 20, dtype: object)
(21, PassengerId                       22
Pclass                             2
Name           Beesley, Mr. Lawrence
Sex                             male
Age                               34
SibSp                              0
Parch                              0
Ticket                        248698
Fare                              13
Cabin                            D56
Embarked                           S
Name: 21, dtype: object)
(22, PassengerId                             23
Pclass                                   3
Name           McGowan, Miss. Anna "Annie"
Sex                                 female
Age                                     15
SibSp                                    0
Parch                                    0
Ticket                              330923
Fare                                8.0292
Cabin                                  NaN
Embarked                                 Q
Name: 22, dtype: object)
(23, PassengerId                              24
Pclass                                    1
Name           Sloper, Mr. William Thompson
Sex                                    male
Age                                      28
SibSp                                     0
Parch                                     0
Ticket                               113788
Fare                                   35.5
Cabin                                    A6
Embarked                                  S
Name: 23, dtype: object)
(24, PassengerId                               25
Pclass                                     3
Name           Palsson, Miss. Torborg Danira
Sex                                   female
Age                                        8
SibSp                                      3
Parch                                      1
Ticket                                349909
Fare                                  21.075
Cabin                                    NaN
Embarked                                   S
Name: 24, dtype: object)
(25, PassengerId                                                   26
Pclass                                                         3
Name           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          5
Ticket                                                    347077
Fare                                                     31.3875
Cabin                                                        NaN
Embarked                                                       S
Name: 25, dtype: object)
(26, PassengerId                         27
Pclass                               3
Name           Emir, Mr. Farred Chehab
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2631
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 26, dtype: object)
(27, PassengerId                                28
Pclass                                      1
Name           Fortune, Mr. Charles Alexander
Sex                                      male
Age                                        19
SibSp                                       3
Parch                                       2
Ticket                                  19950
Fare                                      263
Cabin                             C23 C25 C27
Embarked                                    S
Name: 27, dtype: object)
(28, PassengerId                               29
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Name: 28, dtype: object)
(29, PassengerId                     30
Pclass                           3
Name           Todoroff, Mr. Lalio
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349216
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 29, dtype: object)
(30, PassengerId                          31
Pclass                                1
Name           Uruchurtu, Don. Manuel E
Sex                                male
Age                                  40
SibSp                                 0
Parch                                 0
Ticket                         PC 17601
Fare                            27.7208
Cabin                               NaN
Embarked                              C
Name: 30, dtype: object)
(31, PassengerId                                                32
Pclass                                                      1
Name           Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                    female
Age                                                       NaN
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17569
Fare                                                  146.521
Cabin                                                     B78
Embarked                                                    C
Name: 31, dtype: object)
(32, PassengerId                          33
Pclass                                3
Name           Glynn, Miss. Mary Agatha
Sex                              female
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           335677
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 32, dtype: object)
(33, PassengerId                       34
Pclass                             2
Name           Wheadon, Mr. Edward H
Sex                             male
Age                               66
SibSp                              0
Parch                              0
Ticket                    C.A. 24579
Fare                            10.5
Cabin                            NaN
Embarked                           S
Name: 33, dtype: object)
(34, PassengerId                         35
Pclass                               1
Name           Meyer, Mr. Edgar Joseph
Sex                               male
Age                                 28
SibSp                                1
Parch                                0
Ticket                        PC 17604
Fare                           82.1708
Cabin                              NaN
Embarked                             C
Name: 34, dtype: object)
(35, PassengerId                                36
Pclass                                      1
Name           Holverson, Mr. Alexander Oskar
Sex                                      male
Age                                        42
SibSp                                       1
Parch                                       0
Ticket                                 113789
Fare                                       52
Cabin                                     NaN
Embarked                                    S
Name: 35, dtype: object)
(36, PassengerId                  37
Pclass                        3
Name           Mamee, Mr. Hanna
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                     2677
Fare                     7.2292
Cabin                       NaN
Embarked                      C
Name: 36, dtype: object)
(37, PassengerId                          38
Pclass                                3
Name           Cann, Mr. Ernest Charles
Sex                                male
Age                                  21
SibSp                                 0
Parch                                 0
Ticket                       A./5. 2152
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 37, dtype: object)
(38, PassengerId                                    39
Pclass                                          3

In [15]:
data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S
16,17,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S
21,22,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q
23,24,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S
865,866,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S
866,867,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S
870,871,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S
873,874,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S
877,878,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S
878,879,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S
881,882,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S
883,884,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q
886,887,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q

### Question 1
*Using the RMS Titanic data, how accurate would a prediction be that none of the passengers survived?*  
**Hint:** Run the code cell below to see the accuracy of this prediction.

In [ ]:
print accuracy_score(outcomes, predictions)

**Answer:** Replace this text with the prediction accuracy you found above.

Let's take a look at whether the feature **Sex** has any indication of survival rates among passengers using the `survival_stats` function. This function is defined in the `titanic_visualizations.py` Python script included with this project. The first two parameters passed to the function are the RMS Titanic data and passenger survival outcomes, respectively. The third parameter indicates which feature we want to plot survival statistics across.  
Run the code cell below to plot the survival outcomes of passengers based on their sex.

In [ ]:
survival_stats(data, outcomes, 'Sex')

Examining the survival statistics, a large majority of males did not survive the ship sinking. However, a majority of females *did* survive the ship sinking. Let's build on our previous prediction: If a passenger was female, then we will predict that they survived. Otherwise, we will predict the passenger did not survive.  
Fill in the missing code below so that the function will make this prediction.  
**Hint:** You can access the values of each feature for a passenger like a dictionary. For example, `passenger['Sex']` is the sex of the passenger.

In [ ]:
def predictions_1(data):
    """ Model with one feature: 
            - Predict a passenger survived if they are female. """
    
    predictions = []
    for _, passenger in data.iterrows():
        
        # Remove the 'pass' statement below 
        # and write your prediction conditions here
        pass
    
    # Return our predictions
    return pd.Series(predictions)

# Make the predictions
predictions = predictions_1(data)

### Question 2
*How accurate would a prediction be that all female passengers survived and the remaining passengers did not survive?*  
**Hint:** Run the code cell below to see the accuracy of this prediction.

In [ ]:
print accuracy_score(outcomes, predictions)

**Answer**: Replace this text with the prediction accuracy you found above.

Using just the **Sex** feature for each passenger, we are able to increase the accuracy of our predictions by a significant margin. Now, let's consider using an additional feature to see if we can further improve our predictions. Consider, for example, all of the male passengers aboard the RMS Titanic: Can we find a subset of those passengers that had a higher rate of survival? Let's start by looking at the **Age** of each male, by again using the `survival_stats` function. This time, we'll use a fourth parameter to filter out the data so that only passengers with the **Sex** 'male' will be included.  
Run the code cell below to plot the survival outcomes of male passengers based on their age.

In [ ]:
survival_stats(data, outcomes, 'Age', ["Sex == 'male'"])

Examining the survival statistics, the majority of males younger then 10 survived the ship sinking, whereas most males age 10 or older *did not survive* the ship sinking. Let's continue to build on our previous prediction: If a passenger was female, then we will predict they survive. If a passenger was male and younger than 10, then we will also predict they survive. Otherwise, we will predict they do not survive.  
Fill in the missing code below so that the function will make this prediction.  
**Hint:** You can start your implementation of this function using the prediction code you wrote earlier from `predictions_1`.

In [ ]:
def predictions_2(data):
    """ Model with two features: 
            - Predict a passenger survived if they are female.
            - Predict a passenger survived if they are male and younger than 10. """
    
    predictions = []
    for _, passenger in data.iterrows():
        
        # Remove the 'pass' statement below 
        # and write your prediction conditions here
        pass
    
    # Return our predictions
    return pd.Series(predictions)

# Make the predictions
predictions = predictions_2(data)

### Question 3
*How accurate would a prediction be that all female passengers and all male passengers younger than 10 survived?*  
**Hint:** Run the code cell below to see the accuracy of this prediction.

In [ ]:
print accuracy_score(outcomes, predictions)

**Answer**: Replace this text with the prediction accuracy you found above.

Adding the feature **Age** as a condition in conjunction with **Sex** improves the accuracy by a small margin more than with simply using the feature **Sex** alone. Now it's your turn: Find a series of features and conditions to split the data on to obtain an outcome prediction accuracy of at least 80%. This may require multiple features and multiple levels of conditional statements to succeed. You can use the same feature multiple times with different conditions.   
**Pclass**, **Sex**, **Age**, **SibSp**, and **Parch** are some suggested features to try.

Use the `survival_stats` function below to to examine various survival statistics.  
**Hint:** To use mulitple filter conditions, put each condition in the list passed as the last argument. Example: `["Sex == 'male'", "Age < 18"]`

In [ ]:
survival_stats(data, outcomes, 'Age', ["Sex == 'male'", "Age < 18"])

After exploring the survival statistics visualization, fill in the missing code below so that the function will make your prediction.  
Make sure to keep track of the various features and conditions you tried before arriving at your final prediction model.  
**Hint:** You can start your implementation of this function using the prediction code you wrote earlier from `predictions_2`.

In [ ]:
def predictions_3(data):
    """ Model with multiple features. Makes a prediction with an accuracy of at least 80%. """
    
    predictions = []
    for _, passenger in data.iterrows():
        
        # Remove the 'pass' statement below 
        # and write your prediction conditions here
        pass
    
    # Return our predictions
    return pd.Series(predictions)

# Make the predictions
predictions = predictions_3(data)

### Question 4
*Describe the steps you took to implement the final prediction model so that it got an accuracy of at least 80%. What features did you look at? Were certain features more informative than others? Which conditions did you use to split the survival outcomes in the data? How accurate are your predictions?*  
**Hint:** Run the code cell below to see the accuracy of your predictions.

In [ ]:
print accuracy_score(outcomes, predictions)

**Answer**: Replace this text with your answer to the question above.

# Conclusion

Congratulations on what you've accomplished here! You should now have an algorithm for predicting whether or not a person survived the Titanic disaster, based on their features. In fact, what you have done here is a manual implementation of a simple machine learning model, the _decision tree_. In a decision tree, we split the data into smaller groups, one feature at a time. Each of these splits will result in groups that are more homogeneous than the original group, so that our predictions become more accurate. The advantage of having a computer do things for us is that it will be more exhaustive and more precise than our manual exploration above. [This link](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/) provides another introduction into machine learning using a decision tree.

A decision tree is just one of many algorithms that fall into the category of _supervised learning_. In this Nanodegree, you'll learn about supervised learning techniques first. In supervised learning, we concern ourselves with using features of data to predict or model things with objective outcome labels. That is, each of our datapoints has a true outcome value, whether that be a category label like survival in the Titanic dataset, or a continuous value like predicting the price of a house.

### Question 5
*Can you think of an example of where supervised learning can be applied?*  
**Hint:** Be sure to note the outcome variable to be predicted and at least two features that might be useful for making the predictions.

**Answer**: Replace this text with your answer to the question above.

> **Note**: Once you have completed all of the code implementations and successfully answered each question above, you may finalize your work by exporting the iPython Notebook as an HTML document. You can do this by using the menu above and navigating to  
**File -> Download as -> HTML (.html)**. Include the finished document along with this notebook as your submission.